In [2]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv('juneroute.csv')           #imports the june route data
df['Time'] = pd.to_datetime(df['Time'])     #use date time to extract

In [6]:
df['day'] = df['Time'].apply(lambda x:x.day) #brings out another column with only the day
df

,Time,Vehicle,Driver,Event,Speed,Latitude,Longitude,Address,day
0,2020-06-11 15:46:00,SBS6289D,Ridwan,Braking,20,1.39643,103.90348,"189B Rivervale Dr, Singapore 542189",11
1,2020-06-14 22:51:00,SBS6289D,Ridwan,Braking,19,1.36007,103.96098,"Tampines Ave 7, Singapore",14
2,2020-06-01 16:19:00,SBS6431D,Ali,Braking,22,1.35521,103.94638,"507 Tampines Central 1, Singapore 520507",1
3,2020-06-01 15:44:00,SBS6431D,Ali,Braking,31,1.37817,103.93673,"741 Pasir Ris Street 71, Block 741, Singapore ...",1
4,2020-06-01 17:56:00,SBS6431D,Ali,Braking,33,1.35203,103.95112,"204 Tampines Street 21, Block 204, Singapore 5...",1
...,...,...,...,...,...,...,...,...,...
1448,2020-06-29 10:03:00,SBS6583R,Yeo,Braking,38,1.39984,103.90509,"199 Punggol Field, Singapore",29
1449,2020-06-30 06:23:00,SBS6583R,Yeo,Braking,21,1.35369,103.95513,"301 Tampines Street 32, Singapore 520301",30
1450,2020-06-30 08:38:00,SBS6583R,Yeo,Braking,30,1.35652,103.95751,"Blk 390, Singapore",30
1451,2020-06-30 09:35:00,SBS6583R,Yeo,Braking,31,1.36527,103.96243,"268 Pasir Ris Street 21, Singapore 510268",30
1452,2020-06-30 12:09:00,SBS6583R,Yeo,Braking,24,1.35394,103.94144,"495A Tampines Ave 5, Singapore 529650",30

In [5]:
df_events = df.groupby(by = 'day', as_index = False).count()[['day', 'Time']].rename(columns = {'Time': 'event count'})     #groups the data according to day and also counts the diff events using time
df_events

    day  event count
0     1           49
1     2           67
2     3           62
3     4           82
4     5           39
5     6           61
6     7           14
7     8           33
8     9           52
9    10           30
10   11           45
11   12           40
12   13           35
13   14           17
14   15           65
15   16           22
16   17           84
17   18           64
18   19           57
19   20           30
20   21           27
21   22           54
22   23           56
23   24           46
24   25           73
25   26           32
26   27           18
27   28           68
28   29           65
29   30           66

In [7]:
df_events['highest speed'] = df.groupby('day', as_index = False).max()['Speed']     #adds column for lowest and max speed for each day
df_events['lowest speed'] = df.groupby('day', as_index = False).min()['Speed']
df_events

    day  event count  highest speed  lowest speed
0     1           49             42            10
1     2           67             47             9
2     3           62             42            11
3     4           82             44             9
4     5           39             46             6
5     6           61             45            12
6     7           14             42            12
7     8           33             41            10
8     9           52             54            14
9    10           30             41             8
10   11           45             46            10
11   12           40             52            15
12   13           35             41             9
13   14           17             39            15
14   15           65             40             6
15   16           22             55            15
16   17           84             45            12
17   18           64             44            11
18   19           57             43            11
19   20           30             43            10
20   21           27             41            16
21   22           54             40            11
22   23           56             41            11
23   24           46             49             7
24   25           73             41            10
25   26           32             36            12
26   27           18             42            12
27   28           68             57             9
28   29           65             38            11
29   30           66             42            10

In [10]:
df.columns

Index(['Time', 'Vehicle', 'Driver', 'Event', 'Speed', 'Latitude', 'Longitude',
       'Address', 'day'],
      dtype='object')

In [8]:
df_events.to_csv('C:\CODING\Instrumentation\FINAL PROJECT\dashboard\mini_containers.csv', index = False)    #creates new csv

In [12]:
df_events

    day  event count  highest speed  lowest speed
0     1           49             42            10
1     2           67             47             9
2     3           62             42            11
3     4           82             44             9
4     5           39             46             6
5     6           61             45            12
6     7           14             42            12
7     8           33             41            10
8     9           52             54            14
9    10           30             41             8
10   11           45             46            10
11   12           40             52            15
12   13           35             41             9
13   14           17             39            15
14   15           65             40             6
15   16           22             55            15
16   17           84             45            12
17   18           64             44            11
18   19           57             43            11
19   20           30             43            10
20   21           27             41            16
21   22           54             40            11
22   23           56             41            11
23   24           46             49             7
24   25           73             41            10
25   26           32             36            12
26   27           18             42            12
27   28           68             57             9
28   29           65             38            11
29   30           66             42            10

In [13]:
df.describe().reset_index().rename(columns = {'index': None}).drop(['day'], axis = 1).to_csv('C:\CODING\Instrumentation\FINAL PROJECT\dashboard\summary.csv', index = False) #use builtin functions for statistics

In [9]:
pd.read_csv('C:\CODING\Instrumentation\FINAL PROJECT\dashboard\summary.csv')

  Unnamed: 0        Speed     Latitude    Longitude
0      count  1453.000000  1453.000000  1453.000000
1       mean    27.635237     1.371278   103.940129
2        std     7.997618     0.017543     0.021178
3        min     6.000000     1.286640   103.845280
4        25%    22.000000     1.355250   103.933290
5        50%    28.000000     1.372680   103.946300
6        75%    34.000000     1.377840   103.955440
7        max    57.000000     1.418400   103.967670

In [15]:
df['Hour'] = df['Time'].apply(lambda x:x.time())    #add column for time from TIME which has both date and time

In [16]:
df

,Time,Vehicle,Driver,Event,Speed,Latitude,Longitude,Address,day,Hour
0,2020-06-11 15:46:00,SBS6289D,Ridwan,Braking,20,1.39643,103.90348,"189B Rivervale Dr, Singapore 542189",11,15:46:00
1,2020-06-14 22:51:00,SBS6289D,Ridwan,Braking,19,1.36007,103.96098,"Tampines Ave 7, Singapore",14,22:51:00
2,2020-06-01 16:19:00,SBS6431D,Ali,Braking,22,1.35521,103.94638,"507 Tampines Central 1, Singapore 520507",1,16:19:00
3,2020-06-01 15:44:00,SBS6431D,Ali,Braking,31,1.37817,103.93673,"741 Pasir Ris Street 71, Block 741, Singapore ...",1,15:44:00
4,2020-06-01 17:56:00,SBS6431D,Ali,Braking,33,1.35203,103.95112,"204 Tampines Street 21, Block 204, Singapore 5...",1,17:56:00
...,...,...,...,...,...,...,...,...,...,...
1448,2020-06-29 10:03:00,SBS6583R,Yeo,Braking,38,1.39984,103.90509,"199 Punggol Field, Singapore",29,10:03:00
1449,2020-06-30 06:23:00,SBS6583R,Yeo,Braking,21,1.35369,103.95513,"301 Tampines Street 32, Singapore 520301",30,06:23:00
1450,2020-06-30 08:38:00,SBS6583R,Yeo,Braking,30,1.35652,103.95751,"Blk 390, Singapore",30,08:38:00
1451,2020-06-30 09:35:00,SBS6583R,Yeo,Braking,31,1.36527,103.96243,"268 Pasir Ris Street 21, Singapore 510268",30,09:35:00
1452,2020-06-30 12:09:00,SBS6583R,Yeo,Braking,24,1.35394,103.94144,"495A Tampines Ave 5, Singapore 529650",30,12:09:00

In [13]:
df.to_csv("C:\CODING\Instrumentation\FINAL PROJECT\dashboard\data_main.csv", index = False)

In [12]:
df.groupby('day', as_index = False).mean()[['day', 'Speed']].to_csv("C:\CODING\Instrumentation\FINAL PROJECT\dashboard\\avg_speed.csv", index = False)  #avg speed from the data grouped acc to day

In [14]:
df

,Time,Vehicle,Driver,Event,Speed,Latitude,Longitude,Address,day
0,2020-06-11 15:46:00,SBS6289D,Ridwan,Braking,20,1.39643,103.90348,"189B Rivervale Dr, Singapore 542189",11
1,2020-06-14 22:51:00,SBS6289D,Ridwan,Braking,19,1.36007,103.96098,"Tampines Ave 7, Singapore",14
2,2020-06-01 16:19:00,SBS6431D,Ali,Braking,22,1.35521,103.94638,"507 Tampines Central 1, Singapore 520507",1
3,2020-06-01 15:44:00,SBS6431D,Ali,Braking,31,1.37817,103.93673,"741 Pasir Ris Street 71, Block 741, Singapore ...",1
4,2020-06-01 17:56:00,SBS6431D,Ali,Braking,33,1.35203,103.95112,"204 Tampines Street 21, Block 204, Singapore 5...",1
...,...,...,...,...,...,...,...,...,...
1448,2020-06-29 10:03:00,SBS6583R,Yeo,Braking,38,1.39984,103.90509,"199 Punggol Field, Singapore",29
1449,2020-06-30 06:23:00,SBS6583R,Yeo,Braking,21,1.35369,103.95513,"301 Tampines Street 32, Singapore 520301",30
1450,2020-06-30 08:38:00,SBS6583R,Yeo,Braking,30,1.35652,103.95751,"Blk 390, Singapore",30
1451,2020-06-30 09:35:00,SBS6583R,Yeo,Braking,31,1.36527,103.96243,"268 Pasir Ris Street 21, Singapore 510268",30
1452,2020-06-30 12:09:00,SBS6583R,Yeo,Braking,24,1.35394,103.94144,"495A Tampines Ave 5, Singapore 529650",30

In [21]:
df['Hour_precise'] = df['Time'].apply(lambda x :x.hour)

In [22]:
df.groupby('Hour_precise', as_index=False).mean()[['Hour_precise', 'Speed']].rename(columns = {'Hour_precise':'Hour'}).to_csv('../time_speed.csv', index = False) #Separates the hour from time for later use of distinguishing peak and non-peak hours

In [23]:
df

,Time,Vehicle,Driver,Event,Speed,Latitude,Longitude,Address,day,Hour_precise
0,2020-06-11 15:46:00,SBS6289D,Ridwan,Braking,20,1.39643,103.90348,"189B Rivervale Dr, Singapore 542189",11,15
1,2020-06-14 22:51:00,SBS6289D,Ridwan,Braking,19,1.36007,103.96098,"Tampines Ave 7, Singapore",14,22
2,2020-06-01 16:19:00,SBS6431D,Ali,Braking,22,1.35521,103.94638,"507 Tampines Central 1, Singapore 520507",1,16
3,2020-06-01 15:44:00,SBS6431D,Ali,Braking,31,1.37817,103.93673,"741 Pasir Ris Street 71, Block 741, Singapore ...",1,15
4,2020-06-01 17:56:00,SBS6431D,Ali,Braking,33,1.35203,103.95112,"204 Tampines Street 21, Block 204, Singapore 5...",1,17
...,...,...,...,...,...,...,...,...,...,...
1448,2020-06-29 10:03:00,SBS6583R,Yeo,Braking,38,1.39984,103.90509,"199 Punggol Field, Singapore",29,10
1449,2020-06-30 06:23:00,SBS6583R,Yeo,Braking,21,1.35369,103.95513,"301 Tampines Street 32, Singapore 520301",30,6
1450,2020-06-30 08:38:00,SBS6583R,Yeo,Braking,30,1.35652,103.95751,"Blk 390, Singapore",30,8
1451,2020-06-30 09:35:00,SBS6583R,Yeo,Braking,31,1.36527,103.96243,"268 Pasir Ris Street 21, Singapore 510268",30,9
1452,2020-06-30 12:09:00,SBS6583R,Yeo,Braking,24,1.35394,103.94144,"495A Tampines Ave 5, Singapore 529650",30,12